
//
// Border-radius
//

.rounded-sm {
  border-radius: .25rem !important;
}

.rounded {
  border-radius: 1rem !important;
}


.rounded-lg {
  border-radius: 1.5rem !important;
}

.rounded-xl {
  border-radius: 2rem !important;
}

