.text-info { color: darken($info, 5%) !important; }
.text-success { color: darken($success, 8%) !important; }
.text-warning { color: darken($warning, 22%) !important; }
.text-danger { color: darken($danger, 9%) !important; }

// Weight and italics
.font-weight-medium  { font-weight: $font-weight-medium !important; }
