.list-item-image{
    width: 100%;
    border-radius: 1rem;
    padding-top: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
  }

.item-quantity{
    min-width: 3rem;
    text-align: center;

}

  .product-background{
    position: absolute;
    top: 0;
    min-height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, .8);
    z-index: 1000;

}
.product-preview{
    width: 100%;
    padding-top: 60%;
    background-size: cover; 
    background-position: center;
    border-radius: inherit;
}

.product-action{
    position: fixed;
    width: 100%;
    bottom:0;
}
@media only screen and (max-width: 720px) {
    .item-catalog{
        border: inherit;
        border-top: $border-width solid $border-color;
        border-radius: inherit !important;
    }
}