.modal-content {
    border: none !important;
}
.modal-header {
    border-bottom: none !important;
}
.modal-footer {
    border-top: none !important;
}

@media only screen and (max-width: 576px) {
    .modal-dialog{
        margin: 0 !important;
    }
    .modal-content {
        border-radius: 0px !important;
    }
    .modal-header {
        border-top-right-radius: 0px !important;
        border-top-left-radius: 0px !important;
    }
    .modal-footer {
        border-bottom-right-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
    }
}