// Color system

$padding-24:    1.5rem;
$padding-12:    .75rem;

// Base class
//
// Easily usable on <ul>, <ol>, or <div>.



.list-group-panel {
  display: flex;
  flex-direction: column;

  // No need to set list-style: none; since .list-group-item-panel is block level
  padding-left: 0; // reset padding because ul and ol
  margin-bottom: 0;

  padding-top: $padding-12;
  padding-bottom: $padding-12;


}

//open menu action 

.open{
  width: 250px;
}

// Individual list items
//
// Use on `li`s or `div`s within the `.list-group` parent.

.list-group-item-panel {
  position: relative;
  display: inherit;
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: $padding-24;
  padding-right: $padding-24;
  color: $list-group-color;
  text-decoration: none;
  list-style-type: none;
  overflow-X: hidden;

  &:first-child {
    @include border-top-radius(inherit);
  }

  &:last-child {
    @include border-bottom-radius(inherit);
  }

  &.disabled,
  &:disabled {
    color: $list-group-disabled-color;
    pointer-events: none;
    background-color: $list-group-disabled-bg;
  }

  // Include both here for `<a>`s and `<button>`s
  &.active {
    z-index: 2; // Place active items above their siblings for proper border styling
    color: $list-group-active-color;
    background-color: $list-group-active-bg;
    border-color: $list-group-active-border-color;
  }

  & + & {
    border-top-width: 0;

    &.active {
      margin-top: -$list-group-border-width;
      border-top-width: $list-group-border-width;
    }
  }
}